<div>
  <div>
    <div class="user-card">
      <img class="photo-user" src="<%= "/user_images/#{@user.image_name}" %>">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>
    <hr>
    <h4><%= link_to("portfolioギャラリーを見る","/gallery/#{@user.id}") %></h4>

  <%= render "relationships/follow_button", user: @user %> 

    <% if @user.id == @current_user.id %>
    <h3>フォロー一覧 <%= @current_user.followings.count %>人</h3>
    <% @current_user.followings.each do |user| %>
      <div>
        <div>
          <%= link_to(user.name, "/users/#{user.id}") %>
        </div>
      </div>
    <% end %>

    <h3>フォロワー一覧 <%= @current_user.followers.count %>人</h3>
      <% @current_user.followers.each do |user| %>
        <div>
          <div>
            <%= link_to(user.name, "/users/#{user.id}") %>
          </div>
        </div>
      <% end %>
    <% end %>
</div>