
    <h1>編集する</h1>
    <%= form_tag("/posts/#{@post.id}/update", {multipart: true}) do %>
      <div class="post-container">
        <div>
          <% @post.errors.full_messages.each do |message| %>
              <%= message %>
          <% end %>
          <div>画像(サムネ)</div>
          <input name="image" type="file"><br>
          <div>タイトル</div>
          <textarea name="title" placeholder="作品のタイトルを入力してください"><%= @post.title %></textarea>
          <div>内容(ポートフォリオの)</div>
          <textarea name="content" placeholder="作品の説明を140字以内で記入してください"><%= @post.content %></textarea>
          <div>ポートフォリオのURL</div>
          <input name="url" placeholder="作品に飛ぶURLを入力してください" value="<%= @post.url %>"><br>
          <input type="submit" value="保存">
        </div>
      </div>
    <% end %>