<!DOCTYPE html>
<html>
  <head>
    <title>Skillio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>
        <% if @current_user %>
          <%= link_to("Skillio", "/users/index", {class: "logo"}) %>
          <%= link_to("ログアウト", "/logout", {method: :post,class: "header-link"}) %>
        <% else %>
          <%= link_to("Skillio", "/", {class: "logo"}) %>
          <%= link_to("新規登録", "/signup", {class: "header-link"}) %>
          <%= link_to("ログイン", "/login", {class: "header-link"}) %>
        <% end %>
      </div>
    </header>

    <div class="wrapper">

      <nav>
        <ul>
          <% if @current_user %>
            <li>
              <%= link_to(@current_user.name, "/users/#{@current_user.id}", {class: "nav-link"}) %>
            </li>
            <li>
              <%= link_to("follow一覧", "/following/#{@current_user.id}", {class: "nav-link"}) %>
            </li>
            <li>
              <%= link_to("follower一覧", "/follower/#{@current_user.id}", {class: "nav-link"}) %>
            </li>
            <li>
              <%= link_to("みんなの投稿", "/posts/index", {class: "nav-link"}) %>
            </li>
            <li>
              <%= link_to("投稿", "/posts/new", {class: "nav-link"}) %>
            </li>
          <% end %>
        </ul>
      </nav>

      <div class="content">
        <% if flash[:notice] %>
          <div>
            <%= flash[:notice] %>
          </div>
        <% end %>
        <%= yield %>
      </div>

    </div>
  </body>
</html>
